# IGDB/Twitch API Credentials
# Get them on https://dev.twitch.tv/console/apps
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# Session
SESSION_SECRET=your_session_secret_here

# Server
PORT=3000

# Database
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=kc_catalogue


# Steam OAuth
STEAM_API_KEY=
STEAM_DOMAIN=http://localhost:3000
